.heading{
    width: 80%;
    font-size:25px;
    font-family:cursive;
    font-weight: bold;
    font-style: italic;
}
body{
    background-color:lightsalmon;
    font-family:cursive;
    color:black;
}
#camera{
    border:2px dashed royalblue;
    width:300px;
    height:300px; 
}
#result_object_name,#result_object_accuracy,.name_of_object{
    color:blue;
    font-weight: bold;
    font-style: italic;
}